body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f6f8; /* Le fond gris clair de ta maquette */
    color: #333;
}

* {
    box-sizing: border-box; /* Indispensable pour que les paddings ne cassent pas la mise en page */
}

a {
    text-decoration: none;
    color: inherit; /* Les liens héritent de la couleur du texte par défaut */
}

a:hover {
    text-decoration: underline;
}